{% set formation_show = path('formation_show', { 'slug': formation.slug }) %}

<article class="mb-5">
    <div class="row">
        <div class="col-md-{{leftCol ?? 5}}">
            {# {% if article.media_filename %}
                <a href="{{ article_show }}">
                    <img src="/uploads/{{ article.media_filename }}" alt="" loading="lazy" width="350" height="205">
                </a>
            {% endif %} #}
        </div>

        <div class="col-md-{{rightCol ?? 7}}">
            <h2>
                <a class="text-decoration-none text-dark" href="{{ formation_show }}">{{formation.name}}</a>
            </h2>
            <p>
                {{formation.date|date('d M Y')}}
            </p>
            {{formation.content|striptags|slice(0, 130) ~ '...'}}
            <p>
                <span class="badge bg-primary">Formation</span>
            </p>
        </div>
    </div>
</article>