<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>POC PasSage Avenir - {% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="py-2 bg-dark border-bottom">
            <div class="container d-flex flex-wrap justify-content-center">
<<<<<<< HEAD
                <a href="{{path('app_home')}}"class="nav nav-link text-white" role="button" aria-expanded="false">Accueil</a>
=======
                <a href="{{path('app_home')}}" class="nav nav-link text-white" role="button" aria-expanded="false">Accueil</a>
>>>>>>> 03e282f6197ec40f194aac96c32a6b271e3ee1ef
                <a class="nav nav-link text-white" role="button" aria-expanded="false">​À propos</a>
                <a class="nav nav-link text-white" role="button" aria-expanded="false">Formation</a>
                <a class="nav nav-link text-white" role="button" aria-expanded="false">Articles</a>
                <a class="nav nav-link text-white" role="button" aria-expanded="false">Infos utiles</a>
                <a class="nav nav-link text-white" role="button" aria-expanded="false">Contact</a>
                <a href="{{path('admin')}}" class="nav nav-link text-white" role="button" aria-expanded="false">Tableau de bord</a>
            </div>
        </nav>

        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" href="{{ path('app_home') }}">
                    <span class="fs-4">PasSage Avenir</span>
                </a>
<<<<<<< HEAD

                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{{ path('app_register') }}">S'inscrire</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{{ path('app_login') }}">Se connecter</a>
                        </li>
                    </ul>
                 {% else %}
                        
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav nav-link text-dark" href="{{path('app_profile',{username: app.user.username} )}}" role="button" aria-expanded="false">{{app.user.username|capitalize}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav nav-link text-dark" href="{{path('app_logout')}}">Déconnexion</a>
                            </li>
                        </ul>
                {% endif %}
=======
                <ul class="nav nav-pills">
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{{path('app_register')}}">S'inscrire</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{{path('app_login')}}">Se connecter</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav nav-link text-dark" href="{{path('app_profile',{username: app.user.username} )}}">{{app.user.username|capitalize}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav nav-link text-dark" href="{{path('app_logout')}}">Déconnexion</a>
                        </li>
                    {% endif %}
                </ul>
>>>>>>> 03e282f6197ec40f194aac96c32a6b271e3ee1ef
            </header>
        </div>

        {% block body %}{% endblock %}

        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <div class="col-md-4 d-flex align-items-center">
                    <span class="copyright">©{{'now'|date('Y') }} PasSage Avenir - Sandrine Hennebelle</span>
                </div>
            </footer>
        </div>
    </body>
</html>
